<%- include("partials/header2") -%>

<h1 class="history-title">Past Coin Flips</h1>
<form action="/delete" method="POST">
  <table class="history-table">
    <tr>
      <th>Date and Time</th>
      <th>Name</th>
      <th>Your Heads Decision</th>
      <th>Your Tails Decision</th>
      <th>Your Result</th>
      <th>Was it your desired result?</th>
      <th>Additional Comments</th>
      <th><i class="trash-can fas fa-trash"></i></th>
    </tr>
    <% results.forEach(function(coinflip){ %>
    <tr>
        <td><%= coinflip.dateTime %></td>
        <td><%= coinflip.name %></td>
        <td><%= coinflip.headsInput %></td>
        <td><%= coinflip.tailsInput %></td>
        <td><%= coinflip.surveyResults %></td>
        <td><%= coinflip.yesNoResults %></td>
        <td><%= coinflip.comments %></td>
        <td><button type="submit" class="btn btn-sm btn-light btn-outline-danger" name="delete" value="<%=coinflip._id%>"/>Delete</button></td>
    </tr>
        <% }) %>
  </table>
</form>

</body>

</html>
